<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jboss.tools.openshift.osio.internal.ui.handler.GetTokenHandler"
            commandId="org.jboss.tools.openshift.osio.ui.command.gettoken">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jboss.tools.openshift.osio.ui.command.gettoken"
            name="%openshiftio.command.gettoken">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=window">
         <command
               commandId="org.jboss.tools.openshift.osio.ui.command.gettoken"
               label="%openshiftio.command.gettoken"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
